---
title: Schedule
description: Schedule
---

<section class="intro home">
	<div class="container">
	<section class="intro--detail intro--text">
		<h1 class="editable">Shattering the Silence Event Schedule.<br> 12-6pm at the Downtown Artery.</h1>
	</section>
	<section class="intro--detail intro--image">
		<img src="/images/kids.png" class="kids" alt="Teenagers, Self Care"/>
	</section>
</section>

<section class="schedule ">
		<div class="buttons">	
				<a href="https://www.eventbrite.com/e/shattering-the-silence-teen-self-care-fair-tickets-54739317773" class="btn primary register">Register Now!</a>	
			</div>
			<div class="container-content">
				<div class="schedule--item all-day">
					<div class="program-time">12:00pm to 06:00pm<div class="program-notes all-day-event">All Day Activity</div></div>
					<h3 class="program-title"><a href="/programs/caring-canines/">Therapy Dogs</a></h3>
					<h4 class="program-presenter">Get your dog cuddles from the Caring Canines pups</h4>
					<div class="program-location">Downstairs in the Main Entry</div>
					<div class="learn-more"><a href="/programs/caring-canines/"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg></a></div>
				</div>
				<div class="schedule--item all-day">
						<div class="program-time">12:00pm to 06:00pm<div class="program-notes all-day-event">All Day Activity</div></div>
						<h3 class="program-title"><a href="/programs/massage/">Access Bar Massage Sessions</a></h3>
						<h4 class="program-presenter">Sessions are available in 15 minute blocks. Sign up will be available on the door.</h4>
						<div class="program-location">Upstairs in Studio Five</div>
						<div class="learn-more"><a href="/programs/massage/"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg></a></div>
					</div>
					<div class="schedule--item all-day">
							<div class="program-time">12:00pm to 06:00pm<div class="program-notes all-day-event">All Day Activity</div></div>
							<h3 class="program-title"><a href="/programs/arts-and-crafts/">Art & Craft Room</a></h3>
							<h4 class="program-presenter">Mosaics, Love Notes, Henna Tattoos & Nail Art, Community Art Project</h4>
							<div class="program-location">Downstairs in the Art Room</div>
							<div class="learn-more"><a href="/programs/arts-and-crafts/"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg></a></div>
						</div>
			{% assign schedule = site.programs  | sort: "start_time" %}
	  	{% for program in schedule %}
        <div class="schedule--item {{ program.upstairs_or_downstairs }} date-label-{{ program.start_time | date: '%I' }} {% if program.all_day %}all_day-true{% endif %}">
          <div class="program-time">{{ program.start_time | date: "%I:%M%P" }} to {{ program.end_time | date: "%I:%M%P" }}{% if program.notes %}<div class="program-notes"> {{ program.notes }}</div>{% endif %}</div>
          <h3 class="program-title"><a href="{{ program.url }}">{{ program.title }}</a></h3>
		  		{% if program.presenter %}<h4 class="program-presenter">with {{ program.presenter }}</h4>{% endif %}
					<div class="program-location">
						{% if program.upstairs_or_downstairs %}{{ program.upstairs_or_downstairs }} in the {% endif %}
					{% if program.location %} {{ program.location }} {% endif %}</div>
					<div class="learn-more"><a href="{{ program.url }}"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg></a></div>
				</div>
      {% endfor %}
		</div>
</section>
<section class="event-location">
	<div class="container-content">
		<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3029.8624774804525!2d-105.07640368451798!3d40.58879087934546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDM1JzE5LjciTiAxMDXCsDA0JzI3LjIiVw!5e0!3m2!1sen!2sus!4v1547505865348" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
		<div class="address">
			<h5>Join us!</h5>
			<h4>At the Downtown Artery</h4>
			<p>254 Linden St, <br>
				Fort Collins, CO 80524</p>
				<a href="https://www.eventbrite.com/e/shattering-the-silence-teen-self-care-fair-tickets-54739317773" class="btn primary register">Register Now!</a>
		</div>
	</div>
</section>