.site-footer {
  background: $blue;
  font-family: $alt-font;
  color: $white;
  .footer-line {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media #{$large} {
      padding: 1.5rem  3rem;
      grid-gap: 2em;
    }
    @media #{$xlarge} {
      padding: 1.5rem 4rem;
    }
    .site-by {
      color: $white;
      a {
        text-decoration: none;
        border-bottom: 1px dotted;
        color: inherit;
      }
    }
    .copy {
      color: $white;
    }
    .site-by {
      text-align: right;

    }
    p {
      margin: 0;
    }
  }
}